@*@model GithubApiIsrotel.Models.SearchModel

@{
    using (Html.BeginForm("GetRepositories", "Home", FormMethod.Get))
    {
        @Html.TextBoxFor(w => w.KeyWord, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Submit</button>
    }
}*@
