@{
    if (Session["userCardItem"] != null)
    {
        <h3>Bookmarked repositories</h3>
        var list = Session["userCardItem"] as List<GithubApiIsrotel.Models.UserItems>;

        foreach (var item in list)
        {
            <div class="card">
                <img class="card-img-top" src="@item.Owner.Avatar_Url" alt="Card image cap">
                <div class="card-body">
                    <h5><a href="@item.Html_Url" class="card-title">@item.FullName</a></h5>
                    <p class="card-text">@item.Name</p>
                </div>
            </div>
            <hr />
        }
    }
}